doctype html
html(lang='ja')
  head
    title SmokeLog
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', href='./stylesheets/common.css')
    script(src='https://code.jquery.com/jquery-1.12.3.min.js' integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='./javascripts/smoke-log-init.js')
    script(src='./javascripts/smoke-log-models.js')
    script(src='./javascripts/smoke-log-viewmodels.js')
    script(src='./javascripts/smoke-log-views.js')
    script(src='./javascripts/smoke-log-controllers.js')
  body
    .container
      .row
        .col-md-12
          h1 SmokeLog
            small Log your smoke, to get health.
      .row
        .col-md-10.col-md-offset-1
          .row.top-offset-17
            .col-md-5.col-md-offset-1
              button.btn.btn-danger.btn-block.smoke-log-btn-smoked Smoked
            .col-md-5
              button.btn.btn-primary.disabled.btn-block Sync Log
          .row.top-offset-7
            .col-md-10.col-md-offset-1
              .row
                .col-md-6
                  p.bg-info.top-offset-5
                    span Now place : 
                    span.smoke-log-now-place Auto
                .col-md-6.dropdown
                  button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown') Place options
                    span.caret
                  .row.dropdown-menu.smoke-log-place-dropdown
                    #SmokeLogPlaceList.col-md-12
                      .row.smoke-log-place-auto
                        .col-md-12.smoke-log-place-title
                         button.btn.btn-default.btn-block Auto
          .row.top-offset-15
            .col-md-12
              table#SmokeLogTable.table.table-striped
                tbody
                  tr.smoke-log-table-header
                    th N-th Smoked
                    th Time
                    th Place
                    th Delete
